<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>留言系统</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        #success,#fail{
            display: none;
        }
    </style>

</head>
<body>
<h1>系统留言板</h1>
<div class="container">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">姓名</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="username" name="username"  placeholder="姓名">
            </div>
        </div>
        <div class="form-group">
            <label for="liuyan" class="col-sm-2 control-label">留言</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" name="liuyan" id="liuyan"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-success" id="tijiao">提交</button>
            </div>
            <div class="alert alert-success" role="alert" id="success">表单提交成功</div>
            <div class="alert alert-danger" role="alert" id="fail">表单提交失败</div>
        </div>
    </form>
    <div id="quanbuliuyan"></div>
    <nav>
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li class="fenye active"><a href="#">1</a></li>
            <li class="fenye" data-page="2"><a href="#">2</a></li>
            <li class="fenye" data-page="3"><a href="#">3</a></li>
            <li class="fenye" data-page="2"><a href="#">4</a></li>
            <li class="fenye" data-page="2"><a href="#">5</a></li>
            <li ><a href="#">&raquo;</a></li>
        </ul>
    </nav>
</div>


    <script type="text/template" id="moban">
        <div class="list-group">
            <a href="#" class="list-group-item active">
                <h4 class="list-group-item-heading">【姓名】{{=username}}</h4>
                <p class="list-group-item-text">【留言】{{=liuyan}}</p>
                <p class="list-group-item-text">【时间】{{=time}}</p>
            </a>
        </div>
    </script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script>
        $(".fenye").click(function(){
           var page = parseInt($(this).attr("data-page"));
            getDate(page);
            $(this).addClass("active").siblings().removeClass("active");
        });
        getDate(1);
        function getDate(page){
            var page = page -1;
            $.ajax({
                url : "/du?page="+page,
                method : "get",
                data : {},
                success: function(data){
                    $("#quanbuliuyan").html("");
                    for(var i = 0;i<data.result.length;i++){
                        var compiled = _.template($("#moban").html());
                        var html = compiled({liuyan:data.result[i].liuyan,username:data.result[i].username,time:data.result[i].time});
                        $("#quanbuliuyan").append($(html));
                    }
                },
                error: function(data){
                }
            });
        }

        $("#tijiao").click(function(){
            $("#success").hide();
            $("#fail").hide();
            $.ajax({
                url : "/tijiao",
                method : "post",
                data : {"username":$("#username").val(),"liuyan":$("#liuyan").val()},
                success: function(data){
                    if(data == 1){
                        $("#success").fadeIn();
                        var compiled = _.template($("#moban").html());
                        var html = compiled({liuyan:$("#liuyan").val(),username:$("#username").val(),time:new Date()});
                        $(html).insertBefore($("#quanbuliuyan"));
                    }else{
                        $("#fail").fadeIn();
                    }
                },
                error: function(data){
                }
            });
        });
    </script>
</body>
</html>